[submodule "adaptabuild"]
	path = adaptabuild
	url = https://github.com/rhempel/adaptabuild.git
[submodule "src/third_party/cmsis_device_f0"]
	path = src/third_party/cmsis_device_f0
	url = https://github.com/rhempel/cmsis_device_f0.git
[submodule "src/third_party/stm32f0xx_hal_driver"]
	path = src/third_party/stm32f0xx_hal_driver
	url = https://github.com/rhempel/stm32f0xx_hal_driver.git
[submodule "src/third_party/cmsis_core"]
	path = src/third_party/cmsis_core
	url = https://github.com/rhempel/cmsis_core
[submodule "src/third_party/umm_malloc"]
	path = src/third_party/umm_malloc
	url = https://github.com/rhempel/umm_malloc.git
[submodule "src/third_party/stm32h7xx_hal_driver"]
	path = src/third_party/stm32h7xx_hal_driver
	url = https://github.com/rhempel/stm32h7xx_hal_driver.git
[submodule "src/third_party/cmsis_device_h7"]
	path = src/third_party/cmsis_device_h7
	url = https://github.com/rhempel/cmsis_device_h7.git
[submodule "src/third_party/cmsis_device_l4"]
	path = src/third_party/cmsis_device_l4
	url = https://github.com/rhempel/cmsis_device_l4.git
[submodule "src/third_party/stm32l4xx_hal_driver"]
	path = src/third_party/stm32l4xx_hal_driver
	url = https://github.com/rhempel/stm32l4xx_hal_driver.git
[submodule "src/third_party/voyager-bootloader"]
	path = src/third_party/voyager-bootloader
	url = https://github.com/rhempel/voyager-bootloader.git
[submodule "src/third_party/cmsis_device_g0"]
	path = src/third_party/cmsis_device_g0
	url = https://github.com/rhempel/cmsis_device_g0.git
[submodule "src/third_party/stm32g0xx_hal_driver"]
	path = src/third_party/stm32g0xx_hal_driver
	url = https://github.com/rhempel/stm32g0xx_hal_driver.git
[submodule "src/third_party/nanopb"]
	path = src/third_party/nanopb
	url = https://github.com/rhempel/nanopb.git
[submodule "src/third_party/CANopenNode"]
	path = src/third_party/CANopenNode
	url = https://github.com/rhempel/CANopenNode.git
[submodule "src/third_party/pico-sdk"]
	path = src/third_party/pico-sdk
	url = https://github.com/rhempel/pico-sdk.git
[submodule "src/third_party/nrfx"]
	path = src/third_party/nrfx
	url = https://github.com/rhempel/nrfx.git
[submodule "src/third_party/cmrx"]
	path = src/third_party/cmrx
	url = https://github.com/rhempel/cmrx.git
[submodule "src/third_party/hal_adi"]
	path = src/third_party/hal_adi
	url = https://github.com/rhempel/hal_adi.git
[submodule "src/third_party/stm32-svd"]
	path = src/third_party/stm32-svd
	url = https://github.com/svcguy/stm32-svd.git
[submodule "src/third_party/stm32g4xx-hal-driver"]
	path = src/third_party/stm32g4xx-hal-driver
	url = https://github.com/rhempel/stm32g4xx-hal-driver
[submodule "src/third_party/cmsis-device-g4"]
	path = src/third_party/cmsis-device-g4
	url = https://github.com/rhempel/cmsis-device-g4
